<template>
  <div>
    <!-- I think this looks better plus changed id to use backquote as I think it is cleaner -->
    <div 
      class="number" 
      :id="`number-${number}`" 
      v-for="number in allNumbers()" 
      :key="number" 
      @mouseover="showDivisors(number)" 
      @mouseout="reset">
      {{number}}
    </div>
  </div>
</template>

<script>
export default {
  /* 
    limit should be in props so parent element can pass it and it should 
    be required as without it this component would not be working correctly 
  */
  props: {
    limit: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      numbers: []
    }
  },
  //No need for watch lifecycle method as we now pass limit as a prop
  methods: {
    //Method name of 'n' doesn't tell what it is doing 'allNumbers' is better
    allNumbers() {
      let numbers = [];
      /* 
        Instead of doing (less than) use less than or equal to generate numbers from 0 to value
        because if your input is for exampe, 10 then numbers would be generated from 0 to 9 instead from 0 to 10
      */
      for(let i = 0; i <= this.limit; i++) { //Using let instead of var to stay consistant with the code and use ES6 standards
        numbers.push(i); //instead of doing 'numbers = [...numbers, i];' use push I'm assuming it is better for memory
      }
      return numbers.sort(() => Math.random() - 0.5);
    },

    //Again 'hov' is not appripriate name for this method 'showDivisors' is better c:
    showDivisors(number) {
      const nums = document.querySelectorAll('.number');
      for(let i = 0; i < nums.length; i++) {
        if(number % nums[i].textContent.trim() === 0) { //No point of adding extra variable use it when declaring loop
          nums[i].classList.add('active');
        }
      }
    },
    reset() {
      const nums = document.querySelectorAll('.number');
      nums.forEach(num => num.classList.remove('active'))
    }
  }
}
</script>

<style scoped>
	.number {
		display: inline-block;
		padding: 5px;
		background-color: lightgrey;
		margin: 5px;
	}
	.active {
		background-color: red;
	}
</style>
