<template>
  <div id="app">
    <!-- Add modifier to v-model to pass number not string -->
    <input type="number" v-model.number="limit" />
    <!-- Simple check if limit is not equal to empty string because v-model.number only returns valid number -->
    <Numbers :limit="limit" v-if="limit != ''"/> <!-- If number is valid display the component and pass limit as a prop -->
    <span v-else style="color: red;"> <br> Please provide valid number!</span> <!-- If invalid display error message instead -->
  </div>
</template>

<script>
import Numbers from '@/components/Numbers';

export default {
  name: 'App',
  components: {
    Numbers
  },
  data() {
    return {
      limit: 100
    }
  },
}
</script>
<!-- No need for style if you're not using it -->
